<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>chatAtekos</title>
</head>

<body>

  <header>
    <h1>Atekos chats</h1>

  </header>

  <main>
    <div id="allMessages">
      <!-- <div class="message">
        <div class="imgContainer">
          <img src="img/michiConSombreroDeBaquero.jpeg" alt="Foto de perfil">
        </div>

        <div class="messageBody">
          <div class="userInfo">
            <span class="userName">Petra Uchija</span>
            <span class="time">1 minuto</span>

          </div>

          <p>parrafo del mensage </p>

        </div>
      </div> -->


    </div>

    <div class="sendMesages">

      <input type="text" id="message">
      <button type="button" id="sendMesage" class="buttonMesage">Enviar</button>
    </div>

  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>

</body>

</html>