<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/register.css">
  <title>Registrate</title>
</head>

<body>

  <header>
    <h1>Atekos - Register</h1>

  </header>

  <main>
    <form action="#" method="post" class="">
      <div class="containerIms">
        <h2>selecina una foto de perfil</h2>
        <div id="listImgs">
        </div>
        <div class="input-group">
          <label for="userName">Tu nombre</label>
          <input type="text" id="userName" required>
        </div>

        <div class="button">
          <button type="button" id="buttonLogin">Entrar al chat</button>
        </div>

    </form>
  </main>

  <script src="js/register.js"></script>
</body>

</html>